<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segunda página Nct Dream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="text-white p-3 text-center" style="background-color: rgb(160, 216, 76);">
    <h1>NCT DREAM</h1>
    <img style="width: 30px; height: 20px;" class="float-md-none" src="../imagens/logo.jpg" alt="logo NCT">
</header>

<nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid justify-content-start">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="../index.html">Voltar a página principal</a> 
        </li>
        <li>
            <div class="spinner-grow text-secondary mt-1"></div>
        </li>
      </ul>
    </div>
</nav>

<main>
  <div id="demo" class="carousel slide" data-bs-ride="carousel" style="background-color: black;"><!-- Carousel -->
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../imagens/the dream show0.JPG" alt="Show" class="d-block h-50 w-25 mx-auto">
        </div>
        <div class="carousel-item">
          <img src="../imagens/the dream show1.JPG" alt="Show" class="d-block h-50 w-25 mx-auto"> 
        </div>
        <div class="carousel-item">
          <img src="../imagens/the dream show2.JPG" alt="Show" class="d-block h-50 w-25 mx-auto"> 
        </div>
      </div>
      
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev" style="background-color: rgb(160, 216, 76);">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next" style="background-color: rgb(160, 216, 76);">
        <span class="carousel-control-next-icon"></span>
      </button>
  </div>
</main>


<section class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-6 card bg-dark text-white">
            <img src="../imagens/ingresso br.png"  class="car-img-top w-75 h-75 mx-auto" alt="ingresso">
            <h1 class="card-title mt-2">São Paulo</h1>
            <p class="card-text">Vibra São Paulo | 04 de Julho de 2023</p>
            <a href="https://uhuu.com/" target="_blank" class="btn btn-secondary">Comprar</a>
        </div>
    
        <div class="col-md-4 col-lg-4 col-sm-6 card bg-dark text-white">
            <img src="../imagens/ingresso santiago.jpg"  class="car-img-top w-75 h-75 mx-auto" alt="ingresso">
            <h1 class="card-title mt-2">Santiago</h1>
            <p class="card-text">Movista Arena | 06 de Julho de 2023</p>
            <a href="https://www.puntoticket.com/" target="_blank" class="btn btn-secondary">Comprar</a>
        </div>
    
        <div class="col-md-4 col-lg-4 col-sm-6 card bg-dark text-white">
            <img src="../imagens/ingresso lima.jpg"  class="car-img-top w-75 h-75 mx-auto" alt="ingresso">
            <h1 class="card-title mt-2">Lima</h1>
            <p class="card-text">Arena 1 - Costa Verde | 08 de Julho de 2023</p>
            <a href="https://teleticket.com.pe/" target="_blank" class="btn btn-secondary">Comprar</a>
        </div>
    </div>
</section>


<footer class="container-fluid text-white p-3" style="background-color: rgb(160, 216, 76);">
    <p>&COPY; Todos os direitos reservados - Isadora Germann</p>
</footer>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>